<div class="cart_title">Your Pragmatic Cart</div>
<table>
	<%= render @cart %>
		
	<tr class="total_line">
		<td colspan="2">Total</td>
		<td class="total_cell"><%= number_to_currency(@cart.total_price) %></td>
	</tr>
	
</table>

<%= button_to 'Empty cart',@cart, :method => :delete,
 	:confirm => 'Are you sure?' %>
 	
<%= link_to 'Edit', edit_cart_path(@cart) %> |
<%= link_to 'Back', carts_path %> 